.footerWrapperImg {
  background-image: url('./../../assets/img/footer.jpeg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.footerWrapper {
  background-color: var(--primary-opacity-color);
}

.footerContainer {
  padding: var(--padding-top-bottom) var(--padding-sides);
  display: flex;
  gap: 100px;
  align-items: center;
}

.contactsSection {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contactsItem {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contactsItem p {
  color: var(--text-primary-color)
}

.footer {
  padding: 50px;
  border-top: 1px solid var(--text-primary-color);
}

.footer p {
  text-align: center;
  color: var(--text-primary-color);
}

.social {
  width: 150px;
  display: flex;
  gap: 20px;
}

.imgWrapper{
  background-color: var(--secondary-color);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgWrapper {
  width: 600px;
}

.mapWrapper p {
  color: var(--text-primary-color);
  width: 600px;
}

.map {
  width: 600px;
  height: 400px;
}

@media (max-width: 1439px) {
  .footerContainer {
    padding: 50px;
  }
}

@media (max-width: 1000px) {
  .footerContainer {
    flex-wrap: wrap;
    gap: 50px;
  }
}

@media (max-width: 900px) {
  .map {
    width: 500px;
    height: 300px;
  }

  .mapWrapper p {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .map {
    width: 280px;
    height: 200px;
  }

  .mapWrapper p {
    width: 280px;
  }
}