.blogWrapper {
  background-color: var(--bg-primary-color);
  padding: 0px var(--padding-sides) var(--padding-top-bottom) var(--padding-sides);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogContent {
  width: 300px;
}

.postWrapper {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

.headerWrapper {
  margin-bottom: 50px;
  width: 800px;
}

.headerWrapper img {
  width: 800px;
}

.postHeader {
  text-align: center;
  margin: 40px 0;
}

.postHeader h6 {
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 5px;
}

.postHeader p {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
}

.listHeader {
  margin-bottom: 10px;
  font-weight: 600;
}

.listAdvantages li {
  margin-bottom: 10px;
}

.subList{
  margin-left: 20px;
  margin-top: 10px;
}

.blogLink {
  cursor: pointer;
}

@media (max-width: 900px) {
  .postWrapper {
    width: 500px;
  }
  
  .headerWrapper {
    width: 500px;
  }

  .headerWrapper img {
    width: 500px;
  }

  .postHeader {
    top: 260px;
  }
}

@media (max-width: 600px) {
  .postWrapper {
    width: 300px;
  }
  
  .headerWrapper {
    width: 300px;
  }

  .headerWrapper img {
    width: 300px;
  }

  .postHeader {
    top: 140px;
  }
  
  .postHeader h6 {
    font-size: 20px;
  }
}