.about {
  background-color: var(--bg-primary-color);
  display: flex;
  gap:  70px;
  align-items: center;
  padding: 50px var(--padding-sides) var(--padding-top-bottom) var(--padding-sides);
}

.videoWrapper video {
  border-radius: 10px;
  height: 300px;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.desc p {
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
}

@media (max-width: 1439px) {
  .about {
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
  }

  .desc {
    align-items: center;
  }

  .desc p {
    text-align: center;
  }

  .videoWrapper video {
    height: 200px;
  }
}

@media (max-width: 600px) {
  .videoWrapper video {
    height: 160px;
  }
}