.aboutHeader {
  display: flex;
  justify-content: center;
  background-color: var(--bg-primary-color);
} 

.about {
  background-color: var(--bg-primary-color);
  display: flex;
  gap:  70px;
  align-items: center;
  padding: 50px var(--padding-sides) var(--padding-top-bottom) var(--padding-sides);
}

.videoWrapper video {
  border-radius: 10px;
  width: 300px;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
  float: left;
}

.desc p {
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
}

.desc p span {
  font-weight: 700;
  text-transform: uppercase;
}

.descItem {
  margin-bottom: 16px;
}

.descItem p span {
  font-weight: 700;
  text-transform: uppercase;
}

table {
  border: 1px solid var(--secondary-color);
  color: var(--primary-color)
}

tbody tr th:first-child {
  font-weight: 900;
  text-transform: uppercase;
}

tr {
  border-bottom: 1px solid var(--secondary-color);
}

th {
  padding: 10px;
  border-right: 1px solid var(--secondary-color);
}

@media (max-width: 1439px) {
  .about {
    padding: 50px;
  }

  .desc {
    align-items: center;
  }

  .desc p {
    /* text-align: center; */
  }

  .videoWrapper video {
    /* width: 200px; */
  }
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .videoWrapper video {
    width: 380px;
  }
}

@media (max-width: 420px) {
  .videoWrapper video {
    width: 260px;
  }
}