.trainer {
  background-color: var(--bg-primary-color);
  display: flex;
  gap:  70px;
  align-items: flex-start;
  padding: 50px var(--padding-sides) var(--padding-top-bottom) var(--padding-sides);
}

.trainerHeader {
  background-color: var(--bg-primary-color);
}

.imgWrapper img {
  border-radius: 10px;
  height: 400px;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.desc h3 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 1439px) {
  .trainer {
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .desc {
    text-align: center;
  }
}