.promo {
  position: relative;
  z-index: 1;
}

.promoWrapper {
  height: 480px;
  margin-top: 164px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.promoHeaderWrapper {
  background: linear-gradient(90deg, var(--bg-primary-color) 0%, var(--secondary-color) 100%);
  padding: 0 0 0 var(--padding-sides);
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.promoHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26px;
  padding: 50px;
}

.promoHeader a {
  width: 240px;
}

.promoHeader h1 {
  font-size: 50px;
  line-height: 60px;
  color: var(--primary-color);
  font-weight: 900;
}

.promoHeader h1 span {
  text-transform: uppercase;
}

.promoHeader p {
  font-size: 32px;
  line-height: 32px;
  color: var(--primary-color)
}

.promoImgWrapper {
  position: relative;
  height: 480px;
  width: 599px;
}

.promoImgWrapper img {
  background-size: center;
  height: 480px;
  width: 600px;
  border: 0;
}

.promoImgWrapper::after {
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  height: 480px;
  width: 600px;
  background: linear-gradient(to left, transparent, var(--secondary-color));
  pointer-events: none;
}

.promoWrapper::after {
  content: '';
  background-color: var(--bg-primary-color);
  border-top-left-radius: 200%;
  border-top-right-radius: 200%;
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0;
}

@media (max-width: 1439px) {
  .promoHeader {
    padding: 0;
  }

  .promoHeaderWrapper {
    justify-content: flex-start;
    flex-direction: column-reverse;
  }

  .promoWrapper {
    flex-direction: column-reverse;
  }

  .promoImgWrapper {
    width: 100%;
  }

  .promoImgWrapper::after {
    background: linear-gradient(to bottom, transparent, var(--text-primary-color));
    width: 100vw;
  }

  .promoImgWrapper img {
    width: 100%;
  }

  .promoHeaderWrapper {
    position: absolute;
    padding: 0;
    z-index: 10;
    background: inherit;
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: flex-end;
  }
}

@media (max-width: 600px) {
  .promoHeader h1 {
    font-size: 40px;
  }

  .promoHeader p {
    font-size: 26px;
  }
}

@media (max-width: 450px) {
  .promoHeader h1 {
    font-size: 32px;
  }

  .promoHeader p {
    font-size: 20px;
  }

  .promoHeader {
    gap: 16px;
  }
}