.sliderWrapper {
  background-color: var(--primary-color);
  padding: 100px var(--padding-sides) 50px var(--padding-sides);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slickWrapper {
  background-color: var(--primary-color);
  padding: 0 var(--padding-sides) var(--padding-top-bottom) var(--padding-sides);
}

.slide {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  background: var(--bg-primary-color);
  border-radius: 10px;
  padding: 20px 10px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 5px !important;
  height: 370px;
}

.sliderHeader {
  color: var(--text-primary-color);
  text-align: center;
}

.slideImg {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

.slick-track {
  display: flex !important;
  justify-content: space-between !important;
  gap: 20px !important;
  margin-bottom: 30px !important;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  padding: 0 !important;
  margin: 0 !important;
}

.competitionWrapper {
  flex: 1 1 auto;
  width: 250px;
}

@media (max-width: 1439px) {
  .sliderWrapper {
    padding: 50px;
  }

  .slickWrapper {
    padding: 50px;
  }
}

@media (max-width: 720px) {
  .slickWrapper {
    padding: 0 10px 50px 10px;
  }

  .slide {
    padding: 5px;
  }
}